* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

/* MENU  */
.menu {
	width: 100%;
	padding: 20px 25px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background: white;
}

.menu-logo {
	width: 196px;
}

.burger { 
	display: none; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 35px;
	height: 30px;
}

.burger span {
	width: 100%;
	height: 4px;
	background: black;
}

.menu-list a {
	font-size: 20px;
	color: black;

	cursor: pointer;
	transition: text-shadow 0.2s ease-in-out;
}

.menu-list a:hover {
	text-shadow: 0 0 0.5px black, 0 0 0.5px black;
}

.menu-list a + a {
	margin-left: 65px;
}

.menu-list span { 
	display: none; 
	position: absolute;
	top: 25px;
	right: 35px;

	font-size: 30px;
	font-weight: bold;
}


/* HEADER  */
.header {
	position: relative;

	width: 100%;
	height: calc(100vh - 80px);
	padding: 0 85px;

	background: url('../imgs/bg-header.jpg') no-repeat center center;
	background-size: cover;

	display: flex;
	align-items: center;
}

.header .content {
	max-width: 705px;
}

.header-title {
	font-size: 96px;
	font-weight: bold;
	color: white;
}

.header-subtitle {
	font-size: 24px;
	font-weight: 500;
	color: white;
	line-height: 30px;
}

.header-btns {
	display: flex;

	margin-top: 50px;
}

.header-btns a {
	padding: 15px 24px;

	font-size: 15px;
	font-weight: 500;
	color: white;

	transition: .2s ease-in-out;
}

.header-btns a:first-child {
	background: #28262C;
}

.header-btns a:last-child {
	margin-left: 15px;
	border: 1px solid white;
}

.header-btns a:hover {
	background: white;
	color: black;
}


/* ABOUT US  */
.aboutus {
	padding: 105px 50px 0 50px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.aboutus .content {
	max-width: 610px;
}

.aboutus-title {
	font-size: 48px;
	font-weight: bold;
}

.aboutus-subtitle + .aboutus-title {
	padding-top: 27px;
}

.aboutus-subtitle {
	font-size: 22px;
}


.aboutus .btn {
	display: block;
	width: fit-content;

	padding: 15px 24px;
	margin-top: 30px;

	font-size: 15px;
	font-weight: 500;
	color: black;
	border: 1px solid black;

	transition: .2s ease-in-out;
}

.aboutus .btn:hover {
	background: black;
	color: white;
}

.aboutus img {
	width: 425px;
}



/* DESCRIPTION */


.description {
	padding: 105px 50px 0 50px;
	padding: 60px 0;
}
  
  .content-description {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 20px;
  }
  

.description-title {
	font-size: 64px;
	font-weight: bold;
	text-align: center;
	margin: 150px 0;
	padding: 0 350px;
}

.cards {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}

.card {
	width: 33%;
	flex: 1;
	min-width: 300px;
}

.description-card-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.description-card-subtitle {
	font-size: 16px;
	font-weight:normal;
	margin-bottom: 80px;
}

.card img {
	width: 100%;
	margin-bottom: 20px;
}


/* TRANSLATION SECTION */


.translate {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1500px;
	width: 100%;
	padding: 20px;
	margin-top: 100px;

}

.text-content {
	flex: 1;
	padding-right: 50px;
	font-size: 32px;
	font-weight:400;
}

.text-content span {
	font-weight: bold;
}


.image-container {
	flex: 1;
	text-align: right;
}

.image-container img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}


/* FOOTER */

.support-us {
	text-align: center;
}

.support-us-title {
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 100px;
}

.support-us-button {
	background-color: #DD341A;
	padding: 25px 40px;
	color: #fff;
	font-weight: 500;
	font-size: 24px;
}








.contact {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 20px;
	margin-top: 150px;
}


.contact-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.contact-box {
	flex: 1;
	padding: 0 20px;
	/* text-align: center; */
	max-width: 300px;
}

.contact-icon {
	margin-bottom: 15px;
	/* display: flex; */
	justify-content: center;
}

.contact-icon img {
	width: 50px;
	height: 50px;
}

.contact-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.contact-text {
	font-size: 14px;
	line-height: 1.5;
	color: #666;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	border-top: 1px solid #e7e7e7;
}

.policy-links {
	display: flex;
}

.policy-links a {
	margin-right: 20px;
	color: #444;
	text-decoration: none;
	font-size: 14px;
}

.policy-links a:hover {
	text-decoration: underline;
}

.social-links {
	display: flex;
}

.social-icon {
	margin-left: 15px;
}

.social-icon img {
	width: 24px;
	height: 24px;
}

@media (max-width: 1300px) {
	.description-title {
		font-size: 45px;

		padding: 0 100px;
		margin: 100px 0;
	}
}

@media (max-width: 1140px) {
	.aboutus img {
		width: 300px;
	}
}

@media (max-width: 1010px) {
	.aboutus img {
		display: none;
	}
}

@media (max-width: 865px) {
	.image-container { display: none; }

	.text-content { padding: 0; text-align: center; }
}


@media (max-width: 675px) {
	.burger {
		display: flex
	}

	.menu-list {
		display: flex;
		position: absolute;

		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		justify-content: center;
		align-items: center;
		flex-direction: column;

		background: white;

		z-index: -1;

		transition: .3s ease-in-out;
		opacity: 0;
	}

	.menu-list.open {
		opacity: 1;
		z-index: 2;
	}

	.menu-list a {
		font-size: 25px;
		font-weight: 500;
	}

	.menu-list a + a {
		margin-left: 0;
		margin-top: 10px;
	}

	.menu-list span { display: block; }

	.header, .aboutus, .support-us {
		padding-left: 20px;
		padding-right: 20px;
	}

	.content {
		max-width: 100%;
	}

	.header-title {
		font-size: 80px;
	}

	.description-title {
		font-size: 35px;
		padding: 0;
	}

	.header-subtitle {
		font-size: 20px;
	}

	.contact-info {
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.contact-box + .contact-box { margin-top: 30px; }

	.support-us-button {
	    padding: 15px 30px;
	    font-weight: 500;
	    font-size: 18px;
	}

	.aboutus-title {
		font-size: 40px;
	}

	.aboutus-subtitle {
		font-size: 18px;
	}
}