* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

/* MENU  */
.menu {
	width: 100%;
	padding: 20px 25px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background: white;
}

.menu-logo {
	width: 196px;
}

.menu-list a {
	font-size: 20px;
	color: black;

	cursor: pointer;
	transition: text-shadow 0.2s ease-in-out;
}

.menu-list a:hover {
	text-shadow: 0 0 0.5px black, 0 0 0.5px black;
}

.menu-list a + a {
	margin-left: 65px;
}


/* HEADER  */
.header {
	position: relative;

	width: 100%;
	height: calc(100vh - 80px);
	padding: 0 85px;

	background: url('../imgs/bg-header.jpg') no-repeat center center;
	background-size: cover;

	display: flex;
	align-items: center;
}

.header .content {
	max-width: 705px;
}

.header-title {
	font-size: 96px;
	font-weight: bold;
	color: white;
}

.header-subtitle {
	font-size: 24px;
	font-weight: 500;
	color: white;
	line-height: 30px;
}

.header-btns {
	display: flex;

	margin-top: 50px;
}

.header-btns a {
	padding: 15px 24px;

	font-size: 15px;
	font-weight: 500;
	color: white;

	transition: .2s ease-in-out;
}

.header-btns a:first-child {
	background: #28262C;
}

.header-btns a:last-child {
	margin-left: 15px;
	border: 1px solid white;
}

.header-btns a:hover {
	background: white;
	color: black;
}


/* ABOUT US  */
.aboutus {
	padding: 105px 50px 0 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.aboutus .content {
	max-width: 610px;
}

.aboutus-title {
	font-size: 48px;
	font-weight: bold;
}

.aboutus-subtitle + .aboutus-title {
	padding-top: 27px;
}

.aboutus-subtitle {
	font-size: 22px;
}


.aboutus .btn {
	display: block;
	width: fit-content;

	padding: 15px 24px;
	margin-top: 30px;

	font-size: 15px;
	font-weight: 500;
	color: black;
	border: 1px solid black;

	transition: .2s ease-in-out;
}

.aboutus .btn:hover {
	background: black;
	color: white;
}

.aboutus img {
	width: 425px;
}



/* DESCRIPTION */


.description {
	padding: 105px 50px 0 50px;
	padding: 60px 0;
}
  
  .content-description {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 20px;
  }
  

.description-title {
	font-size: 64px;
	font-weight: bold;
	text-align: center;
	margin: 150px 0;
	padding: 0 350px;
}

.cards {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}

.card {
	width: 33%;
	flex: 1;
	min-width: 300px;
}

.description-card-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.description-card-subtitle {
	font-size: 16px;
	font-weight:normal;
	margin-bottom: 80px;
}

.card img {
	width: 100%;
	margin-bottom: 20px;
}